# DISCORD_TOKEN: The bot token from Discord Developer Portal
DISCORD_TOKEN=""
# DISCORD_GUILD_ID: Optional server ID for immediate command registration; omit for global registration
DISCORD_GUILD_ID=""

# PYTUBE_API_URL: Downloader backend API endpoint
PYTUBE_API_URL="http://dono-03.danbot.host:1386"

# BOT_OWNER_ID: The Discord User ID of the bot owner
BOT_OWNER_ID=""


# PORT: BOT PORT
PORT=25557


# LAVALINK CONFIGURATION
LAVALINK_NAME="Node 1"
LAVALINK_URL="localhost:2333"
LAVALINK_AUTH="your_secure_password"
LAVALINK_SECURE="false"
