# DISCORD_TOKEN: The bot token from Discord Developer Portal
DISCORD_TOKEN=""

# BOT_OWNER_ID: The Discord User ID of the bot owner
BOT_OWNER_ID=""

# DASHBOARD_URL: The URL of the management dashboard
DASHBOARD_URL=""

# PORT: BOT PORT
PORT=25557

# LAVALINK CONFIGURATION
LAVALINK_NAME="Node 1"
LAVALINK_URL="localhost:2333"
LAVALINK_AUTH="your_secure_password"
LAVALINK_SECURE="false"
