node_modules/
.next/
coverage/
.DS_Store
*.log
.env*
!.env.example
./auth/
./auth/users/
./auth/pending/
./.ytcache/
./auth/cookies/
./cache/
./data/
node_modules/
~/.cache/yt-dlp/
./bgutil-pot-server/
./yt-dlp-plugins/
.ytcache/
